.btn-services {
    border: none;
    background: #41b883;
    color: aliceblue;
    font-size: 20px;
    padding: 20px 40px;
    margin: 80px 0;
  }
  
  .title {
    font-size: 50px;
    font-weight: 800;
  }